body {
  color: #000;
  margin-top: 20vh;
  font-size: 6vmin;
  text-align:center;
  font-family: Cutive Mono, sans-serif;
}

a {
  color: #FA7268;
}

h1 {
  margin: 0;
  line-height: 55%;
  font-family: Permanent Marker, sans-serif;
}

h5 {
  font-size: 80%;
}

h6 {
  font-weight: normal;
  font-size: 50%;
}

hr {
  border-top: 1px solid black;
  width: 80vw;
}

#myInput {
  font-family: inherit;
  font-size: inherit;
  width: 79vw;
  padding-left: .5vw;
  font-family: Cutive Mono, sans-serif;
  margin: .7vw 0;
  border-radius: 1vw; 
  color: #FA7268;
}

#asterisks {
  padding: 1vw 0 0 0;
}

#output {
  color: #FA7268;
  font-weight: bold;
}
  
button {
  font-family: inherit;
  font-size: inherit;
  color: #FA7268;
  background-color: white;
  border-radius: 1vw;
  border: 2px solid #FA7268;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover { 
  background-color: #FA7268;
  color: white;
}

@media only screen and (orientation: portrait) {

  body {
font-size: 4.7vw;
   }
}